


.icon {
  margin-left: 8px;
}


.barChart {
  margin-top: 20px;
  height: 150px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}
.bar {
  background-color: #f4c90a;
  border-radius: 6px;
  width: 15px;
  margin: 0 2px;
  height: 0;
}

.bar:hover {
  background-color: #f0de8f;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: gray ;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 6px;
  padding: 8px 10px;
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}